<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col-md-12">
    <div style="text-align:center">
      <h1>
        OffRamp integration
      </h1>
    </div>
    <h2>Select the process to kick off by clicking the button: </h2>
  </div>
</div>
<div class="row" style="height: 200px;">
  <div class="col-md-2">
    <a href="#" (click)="createContent()" class="btn btn-primary">Create content</a>
  </div>
  <div *ngIf="trsStatus" class="col-md-1 alert alert-success">
    {{trsStatus}}
  </div>
  <div *ngIf="trsResponse" class="col-md-7 alert alert-success">
    <textarea style="height: 200px;" class="form-control">{{trsResponse}}</textarea>
  </div>
</div>
<div class="row" style="margin-top:20px;height: 200px;">
  <div class="col-md-2">
    <a href="#" (click)="deliverContent()" class="btn btn-primary">Deliver content</a>
  </div>
  <div *ngIf="drsStatus" class="col-md-1 alert alert-success">
    {{drsStatus}}
  </div>
  <div *ngIf="drsResponse" class="col-md-7 alert alert-success">
    <textarea style="height: 200px;" class="form-control">{{drsResponse}}</textarea>
  </div>
</div>

<router-outlet></router-outlet>
