<!doctype html>
<html lang="en-us">
<head>

  <title>Okta Sign-In Widget</title>

  <!-- Core widget js and css -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.6.0/js/okta-sign-in.min.js" type="text/javascript"></script>
  <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.6.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet">
  <!-- Optional, customizable css theme options. Link your own customized copy of this file or override styles in-line -->
  <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.6.0/css/okta-theme.css" type="text/css" rel="stylesheet">
</head>
<body>
  <!-- Render the login widget here -->
  <div id="okta-login-container"></div>

  <!-- Script to init the widget -->
  <script>
    var orgUrl = '{{ base_url }}';

    var redirectUrl = 'https://discovery.oktapreview.com/oauth2/v1/authorize?client_id=0oaeif333nq2T3swq0h7&nonce=1029c67c4a9441e0bbd8d14d5f55a466&redirect_uri=/okta_auth/authorization/callback&response_type=code&scope=openid%20email&state=47a410b628444a738845f3179023a93c&client_secret=nXfVr6Pf0QJZoMuFbtKoCWGO0xONDHOq52y9QnrE';
    //redirectUrl = redirectUrl.replace(/&amp;/g, "&");
 //   var oktaSignIn = new OktaSignIn({baseUrl: orgUrl});
 //   oktaSignIn.renderEl(
 //     { el: '#okta-login-container' },
 //     function (res) {
 //       if (res.status === 'SUCCESS'){
 //           res.session.setCookieAndRedirect(redirectUrl); }
 //     }
 //   );
      window.location=redirectUrl;
  </script>
</body>
</html>

