{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<form action="." method="GET">
<select multiple="multiple" name="participants"  style="height: 100px">
{% for choice in choices %}
    <option id="{{choice.display}}" value="{{ choice.display }}">{{ choice.display }}</option>
{% endfor %}
</select>
<input type="submit" value="filter" />
</form>