{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
{% for choice in choices %}
    <input type="checkbox" id="{{choice.display}}" class="territories" onchange="toggleCheckbox(this)" value="{{ choice.display }}">{{ choice.display }}<br>
{% endfor %}

<script>
function toggleCheckbox(element)
 {
	var l = document.getElementsByClassName("territories")
	var q = [];
	for (i=0;i<l.length;i++ )
	{
		if(l[i].checked)
			q.push(l[i].value)
	}
	var url = window.location.href
	url = removeParam("territories", url)
	if(url.lastIndexOf("?") == -1){
	    url += "?"
	}
	if(!url.endsWith("?") & !url.endsWith("&")){
	    url += "&"
	}
	if(q.length > 0)
	    var url2 = url+"territories="+q.toString();
	else
	    var url2 = url
	window.location.href = url2
 }

 function removeParam(key, sourceURL) {
    var rtn = sourceURL.split("?")[0],
        param,
        params_arr = [],
        queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
    if (queryString !== "") {
        params_arr = queryString.split("&");
        for (var i = params_arr.length - 1; i >= 0; i -= 1) {
            param = params_arr[i].split("=")[0];
            if (param === key) {
                params_arr.splice(i, 1);
            }
        }
        rtn = rtn + "?" + params_arr.join("&");
    }
    return rtn;
}

window.onload = function(e){
   const urlParams = new URLSearchParams(window.location.search);
   var part = urlParams.get("territories")
   console.log(part)
   if(part)
        part = part.split(",")
   else
        part = []
   console.log(part)
   var l = document.getElementsByClassName("territories")
   for(i=0;i<l.length;i++){
        if( part.lastIndexOf(l[i].id) == -1 )
             l[i].checked = false
        else
           l[i].checked = true
   }

}
</script>