{% extends "admin/change_list.html" %}
{% load i18n %}
{% load admin_urls %}

{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block object-tools %}
  <ul class="object-tools">
        <li><a href="{% url opts|admin_urlname:'export' %}{{cl.get_query_string}}" class="export_link grp-button">{% trans "Export" %}</a></li>
    {% block object-tools-items %}
      {% if has_add_permission %}
        {{ block.super }}
      {% endif %}
    {% endblock %}
  </ul>
{% endblock %}