{% extends "admin/base_site.html" %}

{% block content %}
<form action="{{ form_url }}" method="post">
  {% csrf_token %}
<h2>Enter the start and end dates for this action.</h2>
<br>
<label>Territory:</label>
<select name="territory">
  {% for territory in territories %}
  <option value="{{ territory }}">{{territory}}</option>
  {% endfor %}
</select>
<label>Start date:</label>
<input type="date" name="start_date" />
<label>End date:</label>
<input type="date" name="end_date" />

{% for propep in propeps %}
<input type="hidden" name="_selected_action" value="{{ propep.pk }}" />
{% endfor %}
<input type="hidden" name="action" value="{{action}}" />
<input type="submit" name="apply" value="{{submit_text}}"/>
</form>
{% endblock %}