<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER LOGGED IN</title>
</head>
<body>
<div>
    {{ message }}
</div>
<div>
    Click here to <a href="/okta_auth/authorization/custom/logout">logout</a>
</div>
</body>
</html>