{% load i18n admin_urls %}

<footer class="grp-module grp-submit-row grp-fixed-footer">

<header style="display:none">

<h1>Submit Options</h1>

</header>

<ul>

{% if show_delete_link %}
{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}

<li class="grp-float-left"><a href="{% add_preserved_filters delete_url %}" class="grp-button grp-delete-link">{% trans "Delete" %}</a></li>
{% endif %}

{% if show_save %}
<li class="grp-float-right"><input type="submit" value="Save" class="grp-button grp-default" name="_continue" /></li>
{% endif %}
<li class="grp-float-left"><input type="submit" value="Logistics Reset" name="_reset-logistics">

</ul>

</footer>